# ignore all .csv files
*.csv

# ignore all .bz2 files
*.bz2

# ignore folder named `source`
source/

# ignore jupyter notebook checkpoints
.ipynb_checkpoints/
5.Communicate-Data-Findings-checkpoint.ipynb/
1.Introduction-to-Data-Analysis/.ipynb_checkpoints/
